.banner .jumbotron {
    background-color: transparent;
    color: #494949;
}

.banner .selengkapnya {
    margin-top: 10px;
    color: #b5b8d4;
    font-weight: 500;
    border: none;
    padding: 15px;
    border-radius: 15px;
    box-shadow: #fefeff 3px 3px 4px 0px, #C1CFDC -3px -3px 2px 0px;
    background-color: #E9EDF8;
    backdrop-filter: blur(5px);
}

.banner .selengkapnya:hover {
    color: #7b7c86;
    box-shadow: inset#fefeff 3px 3px 4px 0px, inset#C1CFDC -3px -3px 2px 0px;
}

.banner .img-fluid {
    animation: pantul 5s linear infinite;
}

@keyframes pantul {

    0%,
    100% {
        transform: translateY(-25px);
    }

    50% {
        transform: translateY(25px);
    }
}