@import url(banner.css);
@import url(team.css);
@import url(about.css);


@font-face {
    font-family: 'iqbal';
    src: url("../font/Titillium/Titillium-Semibold.otf") format("opentype");
}

* {
    padding: 0;
    margin: 0;
    font-family: 'iqbal';
    scroll-behavior: smooth;
}

#content {
    display: none;
}

body {
    box-sizing: content-box;
    overflow-x: hidden;
    /* background-color: #E9EDF8; */
    background-color: #D5DFEA;
}

.glass {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    height: auto;
    box-shadow: inset#fefeff 3px 3px 4px 0px, inset#C1CFDC -3px -3px 2px 0px;
    border-radius: 25px;
    background-color: #E9EDF8;
}

::-webkit-scrollbar {
    margin-left: 10px;
    width: 0;
    background-color: #E9EDF8;
}

::-webkit-scrollbar-thumb {
    background-color: #26222c;
    border-radius: 50px;
}

.jumbotron {
    width: 100%;
    border-radius: 0;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.garis {
    margin: 10px auto;
    width: 8%;
    height: 5px;
    background-color: #E9EDF8;
    border-radius: 10px;
}

.footer {
    line-height: 8vh;
    width: 100%;
    font-weight: 500;
    height: 8vh;
    color: #494949;
    border-radius: 15px;
    z-index: 2;
    margin-bottom: 10px;
}

.copyright {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
    height: auto;
    box-shadow: inset#fefeff 3px 3px 4px 0px, inset#C1CFDC -3px -3px 2px 0px;
    background-color: #E9EDF8;
    border-radius: 15px;

}

.showpdf a {
    color: #494949;
}

.tampil {
    transition: all 0.5 ease-in-out;
    display: none;
    box-shadow: inset#eff1f8 3px 3px 4px 0px, inset#c7cae0 -3px -3px 4px 0px;
    background-color: #E9EDF8;

    padding: 20px;
    border-radius: 10px;
    margin-bottom: 120px;
}

#tutup {
    display: none;
}

.tampil iframe {
    border-radius: 15px;
    border: 0;
}

.showpdf .tugas:hover {
    box-shadow: inset#eff1f8 3px 3px 4px 0px, inset#c7cae0 -3px -3px 4px 0px;
    transform: scale(1.1);
}

.menu {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
    height: auto;
    box-shadow: inset#fefeff 3px 3px 4px 0px, inset#C1CFDC -3px -3px 2px 0px;
    background-color: #E9EDF8;
    border-radius: 25px;

    transition: all 0.5s ease-in-out;
}


.nav {
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .nav-link {
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 15px;
    border-radius: 15px;
    box-shadow: #fefeff 3px 3px 4px 0px, #C1CFDC -3px -3px 2px 0px;
    background-color: #E9EDF8;

    color: #b5b8d4;
    transition: all 0.5s ease-in-out;
}

.nav .nav-link.active {
    margin-right: 15px;
    border-radius: 15px;
    box-shadow: inset#fefeff 3px 3px 4px 0px, inset#C1CFDC -3px -3px 2px 0px;
    background-color: #E9EDF8;

    color: #7b7c86;
    transition: all 0.5s ease-in-out;
}

.setting {
    box-shadow: inset#fefeff 3px 3px 4px 0px, inset#C1CFDC -3px -3px 2px 0px;
    background-color: #E9EDF8;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    z-index: 1000;
    position: fixed;
    top: 10px;
    right: 30px;
    border-radius: 15px;
    cursor: pointer;
    z-index: 999;
    transition: all 0.5s ease-in-out;
}

.setting:hover {
    box-shadow: #fefeff 3px 3px 4px 0px, #C1CFDC -3px -3px 2px 0px;
}

.setting i {
    color: #494949;
}

#open {
    display: none;
}

@media screen and (max-width : 700px) {
    .nav-item {
        margin-bottom: 10px;
    }

    .setting {
        top: 90%;
        right: 30px;
    }

    .effect-2 {
        top: 10%;
        left: 4%;
    }

    .nav .nav-link {
        height: 50px;
        width: 50px;
        border-radius: 15px;
    }

    .about .nav-link {
        background-color: #E9EDF8;
    }

    .team .card {
        background-color: #E9EDF8;
    }

    .jumbotron {
        height: auto;
    }

    .about .skill .box-skill {
        background-color: #E9EDF8;
    }

    .about .contact {
        background-color: #E9EDF8;
        margin-bottom: 100px;
    }

    .about .contact input,
    .about .contact textarea {
        width: 100%;
    }

    .about .send {
        width: 50%;
    }

    .menu {
        width: 90%;
    }

    .glass {
        width: 90%;
    }

    .copyright {
        width: 90%;
    }

    .team .card-img-top {
        width: 150px;
        height: 150px;
    }
}